@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.backa{
    width: 100wh;
    height: 100vh;
    animation: fadein;
    animation-duration: 2s;
}
.centered{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    min-width: 400px;
    max-width: 50%;
    background-color: white;
    border-radius: 10px;
}
blockquote{
    background-color: transparent;
    padding: 5%;
    text-align: center;
    font-size: 1.3rem;
    border-radius: 10px;
}
footer{
    text-align: end;
    padding-right: 20px;
}

.buttons{
    margin: 20px 40px;
}
.twitter {
    color: rgb(5, 184, 255);
    background-color: transparent;
    transform: scale(1.5);
}
.twitter:hover {
    transform: scale(2);
}
.arrow {
    float: right;
    color: black;
    background-color: transparent;
    transform: scale(1.5);
}
.arrow:hover {
    transform: scale(2);
}